<h1>Uptime Monnitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
  We offer free simple uptime monitoring for HTTP/HTTPS sites of all kins, when
  you site goes down we send you a text to lets you know. Lorem ipsum dolor sit,
  amet consectetur adipisicing elit. Temporibus voluptate neque expedita saepe
  delectus? Laudantium esse sit facere velit, aliquid fuga itaque veritatis
  illum ut rem nobis! Voluptatem sequi, placeat sunt laboriosam animi
  repudiandae molestias in ipsam amet? Qui, quam!
  delectus? Laudantium esse sit facere velit, aliquid fuga itaque veritatis
  illum ut rem nobis! Voluptatem sequi, placeat sunt laboriosam animi
  repudiandae molestias in ipsam amet? Qui, quam!
</div>

<div class="ctaWrapper">
  <a href="account/create" class="cta green">Get Started</a>
  <a href="session/create" class="cta blue">Login</a>
</div>
